Ctrl_GraphWindow/obj/
Ctrl_GraphWindow/bin/Debug/Ctrl_GraphWindow.dll
Ctrl_GraphWindow/bin/
Spec/.~lock.Graphic_drawing_workflow.odg#
GraphControlLogs/
*.exe
SD_Ctrl_GraphWindow/bin/Debug/SD_Ctrl_GraphWindow.exe.config
